/* html, body {
    width: 100%;
} */

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .class-name {
    text-align: center;
  }